[submodule "deps/first/Unreal"]
	path = deps/first/Unreal
	url = https://github.com/cikeZ00/UEPseudo.git
	branch = linux-pavvy
[submodule "deps/first/patternsleuth"]
	path = deps/first/patternsleuth
	url = https://github.com/trumank/patternsleuth.git
